<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="https://www.finewineexperience.com/files/images/2002-DP-P2-800x300.jpg"
        alt="First slide">
    </div>
    <div class="item">
      <img class="slide-image" src="https://www.finewineexperience.com/files/images/IMG-0137-800x300.jpg"
        alt="Second slide">
    </div>
    <div class="item">
      <img class="slide-image" src="https://www.finewineexperience.com/files/images/Michel-Bouzereau-800x300.jpg"
        alt="Third slide">
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>




<!-- bootstrap 4 carousel -->
<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.finewineexperience.com/files/images/2002-DP-P2-800x300.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.finewineexperience.com/files/images/IMG-0137-800x300.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.finewineexperience.com/files/images/Michel-Bouzereau-800x300.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
