<div class="thumbnail">
  <img src="https://rottaprint.com/app/uploads/2019/03/et-autoadezive-imprimate_480X396_vin.jpg">
  <div>
    <h4 class="pull-right">${{product.price}}</h4>
    <h4>{{product.title}}</h4>
    <p>{{product.desc}}</p>
  </div>
  <div>
    <p class="pull-right">Comments: {{comments.length}}</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div>
    <button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">
      Leave a comment
    </button>
  </div>
  <div [hidden]="isCommentHidden">
    <div><app-stars [(rating)]="newRating" [readonly]="false"></app-stars></div>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn" (click)="addComment()">Submit</button>
    </div>
  </div>
  <h3>Comments</h3>
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
