<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input class="form-control" placeholder="Please enter product name"
      [formControl]="titleFilter">
    </div>
  </div>
</div>

  <div *ngFor="let product of products | filter:'title':keyword" class="col-md-4 col-sm-4 col-lg-4">
    <div class="thumbnail">
      <img [src]="imgUrl" width="100%" height="100%">
      <div class="figure-caption">
        <h4 class="pull-right">${{product.price}}</h4>
        <h4><a [routerLink]="['/product', product.id]">{{product.title}}</a></h4>
        <p>{{product.desc}}</p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>

