<form name="searchForm" role="form">
  <div class="form-group">
    <label for="productTitle">Product Name:</label>
    <input type="text" id="productTitle" placeholder="Product name" class="form-control">
  </div>
  <div class="form-group">
    <label for="productPrice">Product Price:</label>
    <input type="number" id="productPrice" placeholder="Product price" class="form-control">
  </div>
  <div class="form-group">
    <label for="ProductCategory">Product Category:</label>
    <select id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>
</form>
